<div class="calculator" x-data="calculator">
  <div class="calculator__input">

    <div class="form-field">
      <label for="bill">Bill</label>
      <div class="form-control">
        <input type="number" name="bill" x-model.number="bill">
        <img class="icon" src="/images/icon-dollar.svg" alt="dollar sign" />
      </div>
    </div>


    <div class="form-field">
      <label for="tip">Select Tip %</label>
      <div class="tip-options">
        <template x-for="option in tipOptions">
          <button
            class="tip-option"
            :class="option.value == tip ? 'active' : ''"
            @click="tip = option.value"
            x-text="option.text"></button>
        </template>
      </div>
    </div>

    <div class="form-field">
      <label for="people">Number of People</label>
      <div class="form-control">
        <input type="number" name="people" x-model.number="people">
        <img class="icon" src="/images/icon-person.svg" alt="person" />
      </div>
    </div>
  </div>

  <div class="calculator__display">
    <div class="results">
      <div class="result">
        <div class="label">
          <strong>Tip Amount</strong>
          <em>/ person</em>
        </div>
        <h1 class="value" x-text="getSplitTip"></h1>
      </div>

      <div class="result">
        <div class="label">
          <strong>Total</strong>
          <em>/ person</em>
        </div>
        <h1 class="value" x-text="getSplitTotal"></h1>
      </div>
    </div>

    <button class="calculator__button" @click="reset()">Reset</button>
  </div>
</div>
