@use 'sass:map';
@use 'sass:math';
@use '../abstracts/mixins' as *;
@use '../abstracts/placeholders' as *;
@use '../abstracts/variables' as *;

$calc-padding: 1.75rem;

.calculator {
  @extend %flex-column;

  gap: $calc-padding;
  padding: $calc-padding;
  max-width: map.get($breakpoints, 'md');
  width: 100%;
  border-radius: $base-border-radius $base-border-radius 0 0;

  background-color: $color-white;

  &__display,
  &__input {
    flex: 1;
  }

  @include media-up('md') {
    flex-direction: row;
    border-radius: $base-border-radius;
  }
}

.calculator__display {
  @extend %flex-column;
  justify-content: space-between;
  background: $color-dark;
  padding: $calc-padding;
  color: $color-primary;
  border-radius: $base-border-radius;

  .results {
    @extend %flex-column;
    gap: 1.25rem;
  }

  .result {
    display: flex;
    justify-content: space-between;
  }

  .label {
    color: $color-white;

    strong {
      display: block;
    }

    em {
      color: $text-light;
      font-size: 0.8rem;
      font-weight: $font-weight-semibold;
    }
  }
}

.calculator__input {
  @extend %flex-column;
  justify-content: space-between;
  gap: 1.5rem;

  @include media-up('md') {
    min-width: 55%;
  }
}

.calculator__button {
  background-color: $color-primary;
  border: none;
  padding: 0.5rem 0;
  color: $color-dark;
  display: block;
  width: 100%;
  font-weight: $font-weight-bold;
  font-size: 1.25rem;
  text-transform: uppercase;
  border-radius: math.div($base-border-radius, 3);
  cursor: pointer;
  margin-top: 2rem;
}

.calculator .tip-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}

.calculator .tip-option {
  flex: 0 0 45%;
  background: $color-dark;
  color: $color-white;
  border: none;
  border-radius: math.div($base-border-radius, 4);
  font-weight: $font-weight-bold;
  font-size: 1.5rem;
  padding: 0.5rem 0;
  cursor: pointer;

  &:last-child {
    background: $input-bg-color;
    color: $label-color;
  }

  &.active {
    background-color: $color-primary;
    color: $color-primary-contrast;
  }

  @include media-up('sm') {
    flex: 0 0 29%;
  }
}
