@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

.container {
  margin: 0 auto;
  max-width: 100%;
  min-height: 100vh;

  @each $size, $width in $breakpoints {
    @include media-up($size) {
      max-width: $width;
    }
  }
}
