@use 'sass:math';
@use '../abstracts/variables' as *;

.form-field {
  .form-control {
    position: relative;
  }

  .form-control .icon {
    position: absolute;
    top: 1rem;
    left: 1rem;
  }
}

.form-field label {
  display: inline-block;
  margin-bottom: 0.75rem;
  color: $label-color;
  font-weight: $font-weight-bold;
}

.form-field input[type='number'] {
  border: none;
  background-color: $input-bg-color;
  color: $input-text-color;
  font-size: 1.5rem;
  font-weight: $font-weight-bold;
  text-align: right;
  border-radius: math.div($base-border-radius, 3);
  padding: 0.5rem 1rem;
  width: 100%;
  outline: none;

  &:focus {
    outline: 2px solid $color-primary;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
