---
layout: layouts/default.njk
pageTitle: Tip calculator app
pageClass: home
author:
  name: tricertc
  url: https://github.com/tricertc
---
Bill

Select Tip %
5%
10%
15%
25%
50%
Custom

Number of People

Tip Amount
/ person

Total
/ person

Reset
