---
layout: layouts/default.njk
pageTitle: Tip calculator app
pageClass: home
author:
  name: tricertc
  url: https://github.com/tricertc
---
<img class="logo" src="./images/logo.svg" alt="splitter logo">
{%- include 'components/calculator.njk' -%}
